<?xml version='1.0' encoding='utf-8'?>
<widget id="se.rishie.ccdiff" version="0.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CCdiff</name>
    <description>
        An app for comparing Chinese character strokes between different languages and regions.
    </description>
    <author email="rishie_88@hotmail.com" href="http://ccdiff.rishie.se">
        Rishie Sharma
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="StatusBarBackgroundColor" value="#FFFFFF" />
    <preference name="DisallowOverscroll" value="true" />

    <plugin name="org.apache.cordova.statusbar" spec="0.1.4" source="pgb" />
</widget>
