<?xml version='1.0' encoding='utf-8'?>
<widget id="se.rishie.ccdiff" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CCdiff Test</name>
    <description>
        An app for comparing Chinese character strokes between different languages and regions.
    </description>
    <author email="rishie_88@hotmail.com" href="http://ccdiff.rishie.se">
        Rishie Sharma
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="ios-statusbarstyle" value="black-translucent" />
    <preference name="DisallowOverscroll" value="true" />

    <preference name="permissions" value="none"/>

    <icon src="icon.png" />
</widget>
