<!DOCTYPE html>
<html ng-app="han">
    <head>
        <meta charset="utf-8">
        <title>Kanji Hanzi Hanja</title>
        <link rel="stylesheet" type="text/css" href="start.css">
        <link rel="stylesheet" type="text/css" href="fonts.css">
        <script src="js/webfont.js"></script>
        <script>
            WebFont.load({
                custom: {
                    families: [
                      'taiwan-ministry-of-education-kai-pc',
                      'taiwan-ministry-of-education-song-pc',
                      'japan-information-technology-promotion-agency-mincho',
                      'japan-information-technology-promotion-agency-gothic',
                      'hong-kong-government-ming',
                      'source-han-sans-cn',
                      'naver-nanum-gothic',
                      'arphic-pl-baosong-2gbk',
                      'seoul-hangang'
                    ]
                }
            });
        </script>
        <script src="js/variants.js"></script>
        <script src="js/angular.min.js"></script>
        <script>
            angular.module('han', []);
            
            angular.module('han').controller('MainController', function() {
                //this.chars = '天漢以叫集写直今所過骨平説說雪没沒社飯絆青靑鯖歩步海';
                this.chars = '鯖';
                this.variantsMap = variantsMap;
                this.variants = [];
                this.previouslyPasted = "";
                this.fonts = [
                    {
                        countryCode: 'TW',
                        shortName: 'Kai',
                        cssClass: 'taiwan-kai-pc'
                    },
                    {
                        countryCode: 'TW',
                        shortName: 'Song',
                        cssClass: 'taiwan-song-pc'
                    },
                    {
                        countryCode: 'JP',
                        shortName: 'Mincho',
                        cssClass: 'japan-ipa-mincho'
                    },
                    {
                        countryCode: 'JP',
                        shortName: 'Gothic',
                        cssClass: 'japan-ipa-gothic'
                    },
                    {
                        countryCode: 'HK',
                        shortName: 'Ming',
                        cssClass: 'hong-kong-ming'
                    },
                    {
                        countryCode: 'CN',
                        shortName: 'Sans',
                        cssClass: 'source-han-sans-cn'
                    },
                    {
                        countryCode: 'CN',
                        shortName: 'Song',
                        cssClass: 'ar-pl-baosong'
                    },
                    {
                        countryCode: 'KR',
                        shortName: 'Gothic',
                        cssClass: 'nanum-gothic'
                    },
                    {
                        countryCode: 'KR',
                        shortName: 'Seoul',
                        cssClass: 'seoul-hangang'
                    }
                ];
                
                var textBox = document.getElementById('TextBox');
                
                document.documentElement.addEventListener('touchstart', function(event) {
                    if (event.target != textBox) {
                        textBox.blur();
                    } else if (document.activeElement == textBox) {
                        cordova.plugins.Keyboard.disableScroll(true);
                    }
                });
                
                document.documentElement.addEventListener('touchend', function(event) {
                    if (document.activeElement == textBox) {
                        cordova.plugins.Keyboard.disableScroll(false);
                    }
                });
                
                this.toChars = function() {
                    this.variants = this.variantsMap[this.chars.charCodeAt(0)];
                    var variantChars = [];
                    if (this.variants) {
                        for (i = 0; i < this.variants.length; i++) {
                            variantChars.push(String.fromCharCode(this.variants[i]));
                        }
                    }
                    return variantChars;
                }
                
                this.getUnicodeRepresentation = function () {
                    return 'U+' + this.chars.charCodeAt(0).toString(16).toUpperCase() +
                        ' (' + this.chars.charCodeAt(0) + ')';
                };
            });
            
            angular.module('han').directive('touchstartClick', function() {
                return function(scope, element, attributes) {

                    element.on('touchstart', function(event) {
                        scope.$apply(function() { 
                            scope.$eval(attributes.touchstartClick); 
                        });
                        event.preventDefault();
                    });
                    
                    element.on('click', function(event) {
                        scope.$apply(function() { 
                            scope.$eval(attributes.touchstartClick); 
                        });
                    });
                    
                    element.on('mousedown', function(event) {
                        event.preventDefault(); // Prevent double click select text.
                    });
                };
            });
            
            document.addEventListener('deviceready', function() {
                cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
                
                document.addEventListener('resume', function() {
                    window.plugins.clipboard.paste(function (text) {
                        var scope = angular.element(document.body).scope();
                        if (scope.main.previouslyPasted != text) {
                          scope.main.chars = text;
                          scope.main.previouslyPasted = text;
                          scope.$apply();
                        }
                    });
                }, false);
            }, false);
        </script>
        <script type="text/javascript" src="cordova.js"></script>
    </head>
    
    <body ng-controller="MainController as main" id="Body">
        <div id="TextBoxHolder">
            <input type="text" ng-model="main.chars" id="TextBox">
            <span id="Code">
                <span>
                    {{ main.getUnicodeRepresentation() }}
                </span>
            </span>
        </div>
        <div id="LoadingDiv">Loading fonts...</div>
        <div id="CharacterList">
            <div class="font" ng-repeat="font in main.fonts">
              <span>
                <span class="country-code">{{font.countryCode}}</span><!--
             --><span>{{font.shortName}}</span>
              </span>
              <div class="big {{font.cssClass}}">{{main.chars[0]}}</div>
            </div>
        </div>

        <div id="Variants" ng-show="main.variants.length > 0">
          <h2>Variants:</h2>
          <span ng-repeat="char in main.toChars()" touchstart-click="main.chars = char">
            {{ char }}
          </span>
        </div>
    </body>
</html>
