<!DOCTYPE html>
<html ng-app="han">
    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy"/>
        <title>Kanji Hanzi Hanja</title>
        <link rel="icon" href="../icon.png">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/fonts.css">
        <script src="js/webfont.js"></script>
        <script>
            WebFont.load({
                custom: {
                    families: [
                      'taiwan-ministry-of-education-kai-pc',
                      'taiwan-ministry-of-education-song-pc',
                      'japan-information-technology-promotion-agency-mincho',
                      'japan-information-technology-promotion-agency-gothic',
                      'hong-kong-government-ming',
                      'source-han-sans-cn',
                      'naver-nanum-gothic',
                      'arphic-pl-baosong-2gbk',
                      'seoul-hangang'
                    ]
                }
            });
        </script>
        <script src="js/variants.js"></script>
        <script src="js/ARPLBaosong2GBK_Light.js"></script>
        <script src="js/CMEXa1.js"></script>
        <script src="js/CMEXc1.js"></script>
        <script src="js/IPAGothic.js"></script>
        <script src="js/IPAMincho.js"></script>
        <script src="js/Ming.js"></script>
        <script src="js/NanumGothic.js"></script>
        <script src="js/SeoulHangangL.js"></script>
        <script src="js/SourceHanSansCN_Regular.js"></script>

        <script src="js/angular.min.js"></script>
        <script src="js/index.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
    </head>

    <body ng-controller="MainController as main" id="Body">
        <div id="TextBoxHolder">
            <input type="text" ng-model="main.chars" id="TextBox" ng-change="main.appendToHistory(main.chars)">
            <span id="Code">
                U+<input type="text"
                         class="unicode-code-input"
                         size="4"
                         ng-model="main.chars"
                         ng-change="main.appendToHistory(main.chars)"
                         code-converter="hexadecimal"
                  >
                (<input type="text"
                        class="unicode-code-input"
                        size="5"
                        ng-model="main.chars"
                        ng-change="main.appendToHistory(main.chars)"
                        code-converter="decimal"
                 >)
            </span>
        </div>

        <div id="LoadingDiv">Loading fonts...</div>
        <div id="CharacterList">
            <div class="font" ng-repeat-start="font in main.fonts">
              <span>
                <span class="country-code">{{font.countryCode}}</span><!--
             --><span>{{font.shortName}}</span>
              </span>
              <div class="big {{font.cssClass}}" ng-if="font.glyphDict.hasOwnProperty(main.chars.charCodeAt(0))">
                {{main.chars[0]}}
              </div>
            </div>
            <br ng-repeat-end>
        </div>

        <div id="Variants" ng-show="main.variants.length > 0">
            <h2>Variants</h2>
            <span ng-repeat="char in main.getVariants()" touchstart-click="main.charClick(char)">
                <span class="mini-code">{{ char.charCodeAt(0).toString(16).toUpperCase() }}</span>
                <span class="char">{{ char }}</span>
            </span>
        </div>

        <div id="History" ng-show="main.charhistory.length > 1">
            <h2>History</h2>
            <span ng-repeat="char in main.charhistory.slice(-10, -1)" touchstart-click="main.charClick(char)">
                <span class="mini-code">{{ char.charCodeAt(0).toString(16).toUpperCase() }}</span>
                <span class="char">{{ char }}</span>
            </span>
        </div>

        <div id="BottomFiller"></div>

        <div id="BottomBar">
            <span>
                <a href="about.html">About</a>
            </span>
            <span id="url">
                <a href="http://rishie.se/ccdiff">http://rishie.se/ccdiff</a>
            </span>
        </div>
    </body>
</html>
