.big {
    font-size: 80px;
}

.hide {
    display: none;
}

.highlight {
    background-color: #ffff88;
}

.big {
    line-height: 1.1em;
}

.font {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    padding: 0.5em;
    width: 80px;
    height: 112px;
}

.country-code {
    border-radius: 5px;
    padding: 3px;
    margin-right: 2px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #4e4e4e;
    color: white;
    font-size: 14px;
    vertical-align: top;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 8px 0;
}

input {
    display: block;
}

#TextBoxHolder {
    text-align: center;
    width: 90%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#TextBox {
    font-size: 16px;
    padding-left: 4px;
    height: 30px;
    display: table-cell;
    width: 100%;
    border: 1px solid #888888;
    border-right: none;
    border-radius: 0px;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.unicode-code-input {
    display: inline;
    border: none;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

#CharacterList {
    margin-top: 2px;
    text-align: center;
    visibility: hidden;
}

#Code {
    border: 1px solid #888888;
    height: 28px;
    display: table-cell;
    vertical-align: middle;
    line-height: 28px;
    padding: 0 5px 0 10px;
    font-family: monospace;
    font-size:  14px;
    white-space: nowrap;
    width: 1px;
}

#LoadingDiv {
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    font-family: monospace;
}

h2 {
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    display: inline-block;
    vertical-align: bottom;
    line-height: 2.5em;
    margin: 0;
}

#Variants {
    margin-left: 2em;
    visibility: hidden;
    margin-bottom: 8px;
}

#Variants > span, #History > span {
    display: inline-block;
    margin-right: 1em;
}

#Variants span.char, #History span.char {
    font-size: 40px;
    line-height: 42px;
}

.mini-code {
    font-size: 11px;
    line-height: 13px;
    font-family: monospace;
    display: block;
    text-align: center;
}

#History {
    margin-left: 2em;
}

div.font span {
    display: inline-block;
}

div.font > span {
    margin-bottom: 2px;
}

div.font span span:nth-of-type(2) {
    vertical-align: bottom;
}

html.wf-active #CharacterList, html.wf-active #Variants {
    visibility: visible;
}

html.wf-active #LoadingDiv {
    display: none;
}
